<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Book Library</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Books
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="borrowers">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Borrowers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rentals">
                <span class="bi bi-journal-check-nav-menu" aria-hidden="true"></span> Rentals
            </NavLink>
        </div>
    </nav>
</div>

